<%- include("templates/encabezado") %>
   <h1>Editar usuarios</h1>
<div class="contenedor">
   <form action="/agregarUsuario" method="post" id="formulario"> <!--Cuando queremos enviar archivos usamos enctype="multipart/form-data"-->
<label for="nombre">Nombre: </label><span class="ocultar errorNombre">Nombre no valido</span>
<input autofocus name="nombre" id="nombre" type="text" placeholder="Nombre"/><!--Autofocus se usa para que al abrir la aplicacion ya aparezca sleccionado un input de texto-->
<i class="ocultar xmarkErrorNombre fa-regular fa-circle-xmark"></i>
<i class="ocultar checkMarkNombre fa-regular fa-circle-check"></i>

<label for="celular">Celular: </label><span class="ocultar errorCelular">Celular no valido</span>
<input type="text" name ="celular" id="celular" placeholder="celular">
<i class="ocultar xmarkErrorCelular fa-regular fa-circle-xmark"></i>
<i class="ocultar checkMarkCelular fa-regular fa-circle-check"></i>

<label for="correo">Correo: </label><span class="ocultar errorCorreo">Correo no valido</span>
<input type="text" name ="correo" id="correo" placeholder="correo">
<i class="ocultar xmarkErrorCorreo fa-regular fa-circle-xmark"></i>
<i class="ocultar checkMarkCorreo fa-regular fa-circle-check"></i>
<button onclick="Enviar()" id="Enviar" type="submit" >Guardar datos</button>
</form> 
</div>
<%- include("templates/pie") %>
